@import url(../fonts/stylesheet.css);
:root {
    --primary-color:#7A3EF2;
    --dark-color:#1A1A1A;
    --light-color:#FFFFFF;
    --border-color:#505050;
    --border-light-color:#B4B4B4;
    --card-color:#505050;
    --card-hover-color:#5FC87E;
    --hover-color:#671FF8;
    --footer-links: #C4C4C4;
    --card-color-blue:#54B8E1;
    --card-color-yellow:#F4B74B;
    --card-color-orange:#ED6E52;
}
body {
    font-family: 'Formular';
}
a, a:hover {
    text-decoration: none;
}
strong {
    font-weight: 500;
}

.container {
    max-width: 90%;
    /* width: 1620px; */
    width:1440px;
}

h2 {
    font-size: 6.125rem;
    font-weight: 500;
    letter-spacing: -7px;
    line-height: 107px;
    margin-bottom:0;
}
h3 {
    font-size: 2.625rem;
    letter-spacing: -2.14px;
    font-weight: 500;
    line-height: 55px;
}

h4 {
    font-size:3.875rem;
    letter-spacing: -3.72px;
    font-weight: 500;
    line-height: 76px;
}

h5 {
    font-size:1.5rem; 
    letter-spacing: -0.86px;
    font-weight: 500;
}

small {
    font-size: 2.625rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 55px;
    display: block;
}
.sub-heading {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -1px;
    display: block;
}
p {
    font-size: 1.125rem;
    letter-spacing: -0.65px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom:0;
}
.solution-list ~ .row p {
    letter-spacing: -0.36px;
}

.font-md {
    font-weight: 500;
}
.font-bold {
    font-weight: 900;
}
.max-width-800 {
    max-width:800px;
}
.max-width-570 {
    max-width:570px;
}
.max-width-1000 {
    max-width:1000px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-110 {
    margin-bottom: 110px;
}
.mb-130 {
    margin-bottom: 130px;
}
.mt-80 {
    margin-top:80px;
}
.mt-100 {
    margin-top:100px;
}
.p-70 {
    padding:70px;
}
.p-55 {
    padding:55px;
}
.pb-30 {
    padding-bottom:30px;
}
.pl-70 {
    padding-left:70px;
}
.pl-10 {
    padding-left:10px;
}
.pl-25 {
    padding-left:24px;
}
.pb-130 {
    padding-bottom: 130px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-200 {
    padding-bottom:200px;
}
.pt-200 {
    padding-top:200px;
}
.pt-120 {
    padding-top:120px;
}
.pt-100 {
    padding-top:100px;
}
.pb-80 {
    padding-bottom:80px;
}
.h-785 img {
    max-height: 785px;
    object-fit: cover;
}
img {
    max-width:100%;
}
.light {
    color: var(--light-color);
}
.dark {
    color: var(--dark-color);
}

.light-bg {
    background: var(--light-color);
}

.dark-bg {
    background: var(--dark-color);
}

.btn-primary {
    font-size:1.125rem;
    font-weight: 500;
    color: var(--light-color);
    letter-spacing: -1px;
    background: var(--primary-color);
    border-color:var(--primary-color);
    padding:25px 50px;
    line-height: 1;
}
.btn-primary:hover {
    background: var(--hover-color);
    border-color:var(--hover-color);
}
.btn-secondry, .btn-secondry:hover, .btn-secondry:focus {
    font-size:1.0625rem;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: -1px;
    border:none;
    padding:0 20px 0 0;
    line-height: 1;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNTUwNTggMi43NDE5TDAuNzcyMjUyIDkuNTIwMjJMMi4xODY0NyAxMC45MzQ0TDguOTY0NzkgNC4xNTYxMUw4Ljk2NDc5IDkuMjI3MzNMMTAuOTY0NSA5LjIyNzMzTDEwLjk2NDUgMC43NDIxOTlMMi40NzkzNiAwLjc0MjE5OUwyLjQ3OTM2IDIuNzQxOUw3LjU1MDU4IDIuNzQxOVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=) no-repeat right 4px;
    transition: all 0.2s ease-in-out;
    background-size: 11px;
    box-shadow: none;
}
.btn-secondry:after {
    display: block;
    content: '';
    border-bottom: solid 3px #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    margin-top: 5px;
}
.btn-secondry:hover:after {
    transform: scaleX(1);
}
.btn-secondry:hover, .btn-secondry:focus {
    background-position: right top;
}
.btn-secondry-light, .btn-secondry-light:hover {
    color: var(--light-color);
}
.btn-secondry-dark, .btn-secondry-dark:hover {
    color: var(--dark-color);
    padding-top:5px;
    font-weight: 700;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy45NyIgaGVpZ2h0PSIxNy45NyIgdmlld0JveD0iMCAwIDE3Ljk3IDE3Ljk3Ij4NCiAgPHBhdGggaWQ9ImJ4LXVwLWFycm93LWFsdF8xXyIgZGF0YS1uYW1lPSJieC11cC1hcnJvdy1hbHQgKDEpIiBkPSJNMTEsOC40MTRWMThoMlY4LjQxNEwxNi41ODYsMTIsMTgsMTAuNTg2bC02LTYtNiw2TDcuNDE0LDEyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOC40ODUgLTcuNDg2KSByb3RhdGUoNDUpIiBmaWxsPSIjMWExYTFhIi8+DQo8L3N2Zz4NCg==)  no-repeat right center;
}

.btn-secondry-dark:hover, .btn-secondry-dark:focus {
    background-position: right top;
}
.btn-rounded {
    --mdb-btn-border-radius: 10rem;
    border-radius: var(--mdb-btn-border-radius);
}
.section-order {
    padding-top:200px;
    padding-bottom:40px;
}
header {    
    padding-top:40px;
}
section {
    padding:160px 0;
    overflow: hidden;
}
.top-bar {
    position: relative;
    z-index: 999;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: flex-end;
}
nav li {
    display: flex;
    padding:0 23px;
}
nav li:nth-last-child(2) {
    padding-right:46px;
}
nav li:last-child {
    padding-left:46px;
    position: relative;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTcuNTUwNTggMi43NDE5TDAuNzcyMjUyIDkuNTIwMjJMMi4xODY0NyAxMC45MzQ0TDguOTY0NzkgNC4xNTYxMUw4Ljk2NDc5IDkuMjI3MzNMMTAuOTY0NSA5LjIyNzMzTDEwLjk2NDUgMC43NDIxOTlMMi40NzkzNiAwLjc0MjE5OUwyLjQ3OTM2IDIuNzQxOUw3LjU1MDU4IDIuNzQxOVoiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=") no-repeat right 6px top 6px;
    transition: all 0.2s ease-in-out;
    background-size:11px;
}
nav li:last-child:before {
    content: '';
    width:1px;
    height: 13px;
    border-left:1px solid var(--border-color);
    position: absolute;
    left:0;
    top:6px;
}
nav li a {
    font-size: 17px;
}
nav li a, nav li a:hover {
    color:var(--light-color);
    transition: all 0.2s ease-in-out;
}
nav li a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #fff;
    transform : scaleX(0);
    border-radius: 5px;
    transition: transform 300ms ease-in-out;
    margin-top: 2px;
}
nav li:hover a:after  {
    transform: scaleX(1);
}
nav li:last-child:hover {
    background-position:right 4px top 4px;
}
.drop-down {
    position: relative;
}
.drop-down .sub-menu {
    position: absolute;
    top:25px;
    left:0;
    width:262px;    
    transition: all 0.2s ease-in-out;    
    min-height: 20px;
}
.arrow-down {
    position: absolute;
    top: 2px;
    left: 53px;
    width:15px;
    height: 15px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS40MTQiIGhlaWdodD0iNy4xMjEiIHZpZXdCb3g9IjAgMCAxMS40MTQgNy4xMjEiPg0KICA8cGF0aCBpZD0iYngtY2hldnJvbi1kb3duXzZfIiBkYXRhLW5hbWU9ImJ4LWNoZXZyb24tZG93biAoNikiIGQ9Ik0xNi4yOTMsMTYuNDE0LDEyLDEyLjEyMSw3LjcwNywxNi40MTQsNi4yOTMsMTUsMTIsOS4yOTMsMTcuNzA3LDE1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTYuMjkzIC05LjI5MykiIGZpbGw9IiNmZmYiLz4NCjwvc3ZnPg0K) no-repeat center;
    background-size:11px;
    transform: rotate(180deg);
}
.drop-down:hover .arrow-down {
    display:none;
} 
.drop-down .sub-menu ul {
    display: none;
    padding-top:10px;
    padding-bottom:10px;
}
.drop-down:hover .sub-menu ul {
    display: block;
}
.drop-down .sub-menu li {
    padding-top:10px;
    padding-bottom:10px;
    display: block;
}
.drop-down .sub-menu ul {
    background: var(--light-color);
    margin-top:25px;
}
.drop-down .sub-menu li a {
    color:var(--dark-color);
    letter-spacing: -0.71px;
}
.drop-down .sub-menu li:nth-last-child(2), .drop-down .sub-menu li:last-child {
    padding-right:23px;
    padding-left:23px;
}
.drop-down .sub-menu li:last-child:before {
    content: none;
}
nav li:hover li  {
    transform: scale(1);
}
.drop-down .sub-menu li {
    background-position:calc(100% - 20px) 15px;
}
.drop-down .sub-menu li:hover {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy45NyIgaGVpZ2h0PSIxNy45NyIgdmlld0JveD0iMCAwIDE3Ljk3IDE3Ljk3Ij4NCiAgPHBhdGggaWQ9ImJ4LXVwLWFycm93LWFsdF8xXyIgZGF0YS1uYW1lPSJieC11cC1hcnJvdy1hbHQgKDEpIiBkPSJNMTEsOC40MTRWMThoMlY4LjQxNEwxNi41ODYsMTIsMTgsMTAuNTg2bC02LTYtNiw2TDcuNDE0LDEyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOC40ODUgLTcuNDg2KSByb3RhdGUoNDUpIiBmaWxsPSIjMWExYTFhIi8+DQo8L3N2Zz4NCg==) no-repeat calc(100% - 20px) 15px;
    transition: all 0.2s ease-in-out;
    background-size:18px;
}
.drop-down .sub-menu li:hover a {
    font-weight: 500;
}
.drop-down .sub-menu li a::after {
    display: none;
}
.banner-section {
    padding:120px 0;
}
.banner-image.ecommerce {
    padding-bottom:80px;
}
.banner-section small {
    margin-top:40px;
    margin-bottom:40px;    
}
.home-banner-section small {
    max-width: 965px;
}
.banner-section-solutions small {
    max-width: 1028px;
}
.home-banner {
    max-height:772px;
    object-fit: cover;
}
.about-banner-section small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.banner-image {
    padding-bottom:130px;
}
.banner-image img {
    width: 100%;
}
.contact-banner {
    padding-top: 100px;
}
.pattern-dark-bottom {
    position: relative;
    overflow: hidden;
}
.pattern-light-top {
    position: relative;
}
.pattern-dark-bottom:before, .pattern-dark-bottom:after, .pattern-light-top:before {
    content: '';
    position: absolute;
    background: var(--dark-color);
}
.pattern-dark-bottom:before {
    width: 80px;
    height: 160px;
    bottom:0px;
    right:0;
}
.pattern-dark-bottom:after {
    width:160px;
    height: 80px;
    bottom:0px;
    right:0;
}
.pattern-light-top:before {
    background: var(--light-color);
    width:80px;
    height: 80px;
    top:0px;
    right:15px;
}
.pattern-light-left-bottom {
    position: relative;
}
.pattern-light-left-bottom:before, .pattern-light-left-bottom:after {
    content: '';
    position: absolute;
    background: var(--light-color);
}
.pattern-light-left-bottom:before {
    width:80px;
    height: 160px;
    bottom:0px;
    left:0;
}
.pattern-light-left-bottom:after {
    height:80px;
    width: 160px;
    bottom:0px;
    left:0;
}
.pattern-light-left-bottom span {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #FF9885;
    bottom: 160px;
    left: 80px;
}
.pattern-light-right-bottom {
    position: relative;
}
.pattern-light-right-bottom:before, .pattern-light-right-bottom:after {
    content: '';
    position: absolute;
    background: var(--light-color);
}
.pattern-light-right-bottom:before {
    width:80px;
    height: 160px;
    bottom:0px;
    right:0;
}
.pattern-light-right-bottom:after {
    height:80px;
    width: 160px;
    bottom:0px;
    right:0;
}
.pattern-light-right-bottom span {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #79E1AD;
    bottom: 160px;
    right: 80px;
}

.pattern-dark-bottom span {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #FF6447;
    bottom: 160px;
    right: 80px;
}

.pattern-dark-bottom span.purple, span.purple {
    background: #7A3EF2;
    bottom: 160px;
    right: 80px;
}
.pattern-light-left-bottom .top-light-span {
    width:80px;
    height: 80px;
    background: var(--light-color);
    position: absolute;
    top:0;
    right:0;
    left:auto;
    bottom:auto;
}
.pattern-dark-left-bottom:before, .pattern-dark-left-bottom:after {
    background: var(--dark-color);
}
.pattern-dark-top-left {
    position: relative;
}
.pattern-dark-top-left:before, .pattern-dark-top-left:after, .pattern-dark-top-left .dark-box {
    content: '';
    position: absolute;
    background: var(--dark-color);
}
.pattern-dark-top-left:before {
    width:80px;
    height: 160px;
    top:0px;
    left:0;
}
.pattern-dark-top-left:after, .pattern-dark-top-left .dark-box {
    height:80px;
    width: 160px;
    top:0px;
    left:0;
}
.pattern-dark-top-left .dark-box {
    right:0;
    bottom:0;
    left:auto;
    top:auto;
    width:80px;
}
.pattern-dark-top-left .box-green {
    position: absolute;
    background: #79E1AD;
    width:80px;
    height: 80px;
    left: 160px;
    top: 80px;
}
.pattern-light-left-top {
    position: relative;
}
.pattern-light-left-top:before, .pattern-light-left-top:after {
    content: '';
    position: absolute;
    width:80px;
    height:80px;
}
.pattern-light-left-top img {
    width:100%;
}
.pattern-light-left-top:before {
    background: var(--light-color);
    top:0;
    left:0;
}
.pattern-light-left-top:after {
    bottom:0;
    right:0;
    background: #7A3EF2;
}
.text-break {
    word-break: break-all;
}
.about-banner .pattern-light-left-bottom img, .about-banner .pattern-light-right-bottom img img {
    height: auto !important;
}
.banner-image-content {
    width:320px;
    margin-bottom:-60px;
}
.banner-image-content p {
    margin-bottom:36px;
}
.partner.owl-carousel {
    padding-top:120px;
    padding-bottom:80px;
}
.partner.owl-carousel .owl-stage-outer {
    overflow: visible;
}
.partner.owl-carousel img {
    width:auto;
    
}
.partner.owl-carousel p {
    max-width: 335px;
    color: var(--dark-color);
}
.patner-image-wrapper {
    margin-bottom:70px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OSIgaGVpZ2h0PSI0OSIgdmlld0JveD0iMCAwIDQ5IDQ5Ij4NCiAgPGcgaWQ9Ikdyb3VwXzI4NDUiIGRhdGEtbmFtZT0iR3JvdXAgMjg0NSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0NTAgLTIxMjYpIj4NCiAgICA8ZyBpZD0iRWxsaXBzZV85IiBkYXRhLW5hbWU9IkVsbGlwc2UgOSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ1MCAyMTI2KSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjOTQ5NDk0IiBzdHJva2Utd2lkdGg9IjEiPg0KICAgICAgPGNpcmNsZSBjeD0iMjQuNSIgY3k9IjI0LjUiIHI9IjI0LjUiIHN0cm9rZT0ibm9uZSIvPg0KICAgICAgPGNpcmNsZSBjeD0iMjQuNSIgY3k9IjI0LjUiIHI9IjI0IiBmaWxsPSJub25lIi8+DQogICAgPC9nPg0KICAgIDxwYXRoIGlkPSJieC1yaWdodC1hcnJvdy1hbHRfNV8iIGRhdGEtbmFtZT0iYngtcmlnaHQtYXJyb3ctYWx0ICg1KSIgZD0iTTE0LjEyMSwxNy4yOTNsLTEuNDE0LDEuNDE0TDYsMTJsNi43MDctNi43MDcsMS40MTQsMS40MTRMOS44MjgsMTFoOS41ODZ2Mkg5LjgyOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NjEuNTg2IDIxMzcuNzA3KSIgZmlsbD0iIzk0OTQ5NCIvPg0KICA8L2c+DQo8L3N2Zz4NCg==) no-repeat center;
    background-size:50px;
    width:52px;
    height: 52px;
    outline:none !important;
}
.case-study-slider.owl-carousel .owl-nav button.owl-prev, .case-study-slider.owl-carousel .owl-nav button.owl-next, .case-study-slider.owl-carousel .owl-nav button.owl-prev:hover, .case-study-slider.owl-carousel .owl-nav button.owl-next:hover {
    background: url(../images/arrow-dark.png) no-repeat center;
    background-size: 50px;
}
.owl-carousel .owl-nav button span {
    display: none;
}
.owl-carousel .owl-nav button.owl-next {
    transform: rotate(180deg);
}
.owl-theme .owl-nav {
    position: absolute;
    right: 0;
    top: -150px;
}
.card-section {
    margin-top:110px;
}
.card-section .col-md-6:first-child {
    padding-right:30px;
    padding-bottom:30px;
}
.card-section .col-md-6:nth-child(2) {
    padding-left:30px;
    padding-bottom:30px;
}
.card-section .col-md-6:nth-child(3) {
    padding-right:30px;
    padding-top:30px;
}
.card-section .col-md-6:nth-child(4) {
    padding-left:30px;
    padding-top:30px;
}
.card {
    background: var(--card-color);
    padding:40px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-radius:0;
}
.card.green:hover {
    background: var(--card-hover-color);
}
.card.blue:hover {
    background: var(--card-color-blue);
}
.card.yellow:hover {
    background: var(--card-color-yellow);
}
.card.orange:hover {
    background: var(--card-color-orange);
}
/* .card:hover {
    background: var(--card-color);
} */
.card .card-title {
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: -0.65px;
    line-height: 22px;
    display: block;
    margin-bottom: 100px;
}
.card h3 {
    font-size: 2.75rem;
    letter-spacing: -2.64px;
    margin-bottom: 20px;
}
.card p {
    max-width: 521px;
}
.card img {
    width: 200px;
    margin-bottom:80px;
}
.techonology-section {
    margin-top:160px;
}
.techonology-section p {
    font-size: 1.5rem;
    line-height: 32px;
}
.technology-img {
    max-height:700px;
    object-fit: cover;
    width: 100%;
    height: 702px;
}
.techonology-section {
    margin-bottom:60px;
}
/* .exp-column:nth-child(2) {
    margin-top: 140px;
}
.exp-column.about-exp {
    margin-top: 100px;
} */

.exp-column {
    margin-left:0;
    margin-right:0;
    border-top: 1px solid var(--border-light-color);
    padding:40px 0;
}
.exp-column:first-child {
    border:none;
}
.exp-column p {
    max-width: 500px;
}
.exp-column h3 {
    max-width: 377px;
}
.exp-column .col-md-4:first-child {
    padding-left:0;
}
.exp-column .col-md-4:last-child {
    padding-right:0;
}
footer {
    margin-top: 200px;
    padding-bottom:120px;
}
.enterprise-footer {
    margin-top: 130px;
}
footer.home-footer {
    margin-top: 120px;
}
.footer-no-margin {
    margin-top: 0;
    padding-top: 120px;
}
.wrapper-footer {
    position: relative;
    top:-140px;
    background: var(--primary-color);
    padding:250px 0;
    margin-bottom: 50px;
}
.wrapper-footer p {
    font-size: 1.5rem;
    line-height: 1.5;
}
.wrapper-footer:before, .wrapper-footer::after {
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width:160px;
    height: 80px;
    background: var(--dark-color);
}
.wrapper-footer::after {
    width:80px;
    height: 80px;
    bottom: 80px;
}
.wrapper-footer .btn-primary {
    background:var(--dark-color);
} 
.wrapper-footer .btn-primary:hover {
    background: #fff;
    color: var(--dark-color);
    border-color: #fff;
}
.footer-links {    
    padding-top:50px;
    position: relative;
}
.footer-links::before {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: var(--border-color);
    position: absolute;
    top: 0;
    left: 15px;
}
.footer-links .col-md-4 p {
    max-width: 311px;
    font-size: 23px;
    line-height: 1.5;

}
/* .footer-links .copy-right {    
    position: absolute;
    bottom:0;
} */
.footer-links .title-links {
    margin-top:83px;
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin-bottom:20px;
}
.footer-links ul, .footer-links li {
    margin:0;
    padding:0;
    list-style-type: none;
}
.footer-links li {
    margin-bottom:10px;
}
.footer-links li, .footer-links li a {
    font-size: 1.0625rem;
    font-weight: 300;
    color:var(--footer-links)
}
.footer-links .office-location li {
    font-size: 0.88rem;
}
.footer-links .office-location li strong {
    font-size: 1.0625rem;
}
.footer-links li a:hover {
    color: #fff;
}
.copyright p {
    font-size: 1rem;
    letter-spacing: -1px;
    color: var(--footer-links);
}

/*Solutions*/
.solution-logo .patner-image-wrapper {
    margin-bottom: 10px;
}
.solution-detail span {
    background: #FFED62;
}
.section-border-top {
    border-top: 1px solid var(--border-light-color);
    padding-top:100px;
    padding-bottom:130px;
}
.solution-detail {
    border-bottom: 1px solid var(--border-light-color);
    padding-bottom:120px;
}
.solution-list {
    list-style-type: none;
    margin-top: 15px;
    padding-left:20px;
}
.solution-list li {
    position: relative;
    list-style-type:none ;
    padding:3px 0;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.36px;
    line-height: 34px;
}
.solution-list li:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left:-30px;
    top: 13px;
    transform: rotate(90deg);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy45NyIgaGVpZ2h0PSIxNy45NyIgdmlld0JveD0iMCAwIDE3Ljk3IDE3Ljk3Ij4NCiAgPHBhdGggaWQ9ImJ4LXVwLWFycm93LWFsdF8xXyIgZGF0YS1uYW1lPSJieC11cC1hcnJvdy1hbHQgKDEpIiBkPSJNMTEsOC40MTRWMThoMlY4LjQxNEwxNi41ODYsMTIsMTgsMTAuNTg2bC02LTYtNiw2TDcuNDE0LDEyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOC40ODUgLTcuNDg2KSByb3RhdGUoNDUpIiBmaWxsPSIjMWExYTFhIi8+DQo8L3N2Zz4NCg==) no-repeat center;
}
.solution-logo img {
    width: auto;
    max-width: 150px;
}
.pattern-light-left-bottom img,.pattern-light-right-bottom img  {
    width:100%;
    /* height: 956px; */
}
/*Solutions*/

/*About Us*/
.about-banner .col-md-5 {
    padding-right:30px;
}
.about-banner .col-md-7 {
    padding-left:30px;
}
.leadership h4 {
    margin-bottom:120px;
}
.leadership {
    margin-left:-25px;
    margin-right:-25px;
}
.leadership .col {
    max-width:20%;
    width:20%;
    flex: 0 0 20%;
    margin-bottom:105px;
    padding-left:25px;
    padding-right:25px;
}
.leadership .col img {
    width: 100%;
}
.leadership .col .thumbnail-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin-top:20px;
}
.leadership .col span {
    display: block;
    font-size: 1.125rem;
    letter-spacing: -1px;
}
.leadership .col a {
    color:#7C7C7C;
    font-size: 1.125rem;
    letter-spacing: -1px;
    position: relative;
}
.leadership .col a:hover {
    color: var(--hover-color);
}
.leadership .col a:before {
    content: '';
    position: absolute;
    width:100%;
    height: 1px;
    bottom:0;
    left: 0;
    background:#7C7C7C;
}
.block-content {
    padding-top:30px;
    border-top:1px solid var(--border-color);
}
.block-content span {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -1.2px;    
    display: block;
    margin-bottom:60px;    
}
.block-content h3 {
    font-size: 2.75rem;
}
.block-content p {
    color:#949494;
}
.about-lifeblood {
    margin-left:-25px;
    margin-right:-25px;
}
.about-lifeblood .col-md-6 {
    padding-left:25px;
    padding-right:25px;
}
/*About Us*/

/*Contact Us*/
.contact-form {
    margin-top: 140px;
}
.form-control, .form-check input {
    color: #fff;
    background: none;
    border:1px solid var(--border-color);
    box-shadow: none;
    border-radius: 0;
    padding: 17px;
}
.contact-form textarea {
    height: 200px;
    resize: none;
}
.form-group, .form-check {
    margin-bottom:30px;
}
.form-group label {
    font-size: 1.125rem;
    color:var(--light-color);
    font-weight:300;
}
.form-check label {
    font-size: 0.9375rem;
    font-weight: 300;
    color:#888888;
    line-height: 19px;
    padding-left: 50px;
    margin-left: -36px;
    position: relative;
    z-index: 2;
}
.form-check input {
    background: var(--dark-color);
    width: 30px;
    height: 30px;
}
.form-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .form-control:focus {
    background: none;
    border-color: #fff;
    color: #fff;
  }
  
  /* Hide the browser's default checkbox */
  .form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border:1px solid var(--border-color);
    background-color: transparent;
  }
  
  /* On mouse-over, add a grey background color */
  /* .form-check:hover input ~ .checkmark {
    background-color: #ccc;
  } */
  
  /* When the checkbox is checked, add a blue background */
  .form-check input:checked ~ .checkmark {
    background-color: var(--primary-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .form-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .form-check .checkmark:after {
    left: 12px;
    top: 6px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.contact-image-block img  {
    width:100%;
    max-height: 600px;
    object-fit: cover;
}
.contact-image-block {
    position: relative;
}
.contact-image-block::after, .contact-image-block::before {
    content: '';
    position: absolute;
    background: var(--light-color);
}
.contact-image-block::before {
    width: 110px;
    height: 160px;
    bottom: 110px;
    right: 0;
}
.contact-image-block::after {
    width: 290px;
    height: 110px;
    bottom: 0px;
    right: 0;
}
.contact-image-block span {
    position: absolute;
    width: 112px;
    height: 112px;
    background: #7A3EF2;
    bottom: 290px;
    right: 120px;
    bottom: 270px;
    right: 110px;
}
.contact-image-block-2::before {
    bottom:0;
    left:0;
    right:auto;
    top: auto;
    width:175px;
    height: 100px;
}
.contact-image-block-2::after {
    top:0;
    right:0;
    left:auto;
    bottom: auto;
}
.contact-image-block-2 span {
    left: 175px;
    right: auto;
    bottom: 100px;
}
.contact-image-block-3:before {
    content: none;
}
.contact-image-block-3:after {
    left:0;
    top:0;
    right:auto;
    bottom:auto;
}
.contact-image-block-3 span {
    bottom:0;
    right:0;
}
.contact-banner.banner-content {
    max-width:930px;
    margin: auto;
}
/*Contact Us*/

/*enterprise*/
.enterprise-section.first h2 {
    padding-top:150px;
}
.enterprise-section h2 {
    padding-bottom:30px;
}
.enterprise-section .col-md-5 p {
    max-width: 395px;
}
.pattern-enterprise {
    position: relative;
}
.pattern-enterprise img {
    width: 100%;
}
.pattern-enterprise span {
    width:80px;
    height: 80px;
    position: absolute;
    background: var(--primary-color);
    top:0;
    right:0;
}
.image-block img {
    width: 100%;
}
.image-block:before, .image-block:after {
    content: '';
    position: absolute;
    right:0;
    top:0;
    background: var(--light-color);
    width:160px;
    height: 80px;
}
.image-block:after {
    width:80px;
    top:80px;
}
.image-block-2:before {
    right:auto;
    left:0;
}
.image-block-2:after {
    left:0px;
    right:auto;
}
.enterprise-img img {
    max-width:680px;
    object-fit: cover;
}
.enterprise-img h3 {
    max-width: 520px;
}
.enterprise-img p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 20px 0;
    max-width: 600px;
}
.footer-margin-bottom {
    margin-bottom:80px;
}
/**/


.solution-detail  .under-line-text {
    position: relative;
    background: none;
    display: inline-block;
}
.solution-detail .under-line-text:before  {
    content: '';
    height: 10px;
    bottom: 4px;
    right: 0;
    left: 0;
    position: absolute;
    background: #FFED62;
    z-index: -1;
}
.block-content-slider span {
    font-size: 18px;
    display: block;
}
.block-content-slider h3 {
    font-size: 28px;
    line-height: 1.2;
}
.block-content-slider li {
    font-weight: 300;
}
.time-saved-progress p {
    font-size: 16px;
}
.time-saved-progress span {
    font-size: 36px;
    font-weight: 500;
    display: block;
}
.time-saved-progress span:after {
    content:'';
    background: url(../images/arrow-green.PNG) no-repeat center;
    background-size: contain;
    display: inline-block;
    width:20px;
    height: 20px;
    margin-left: 10px;
}
.progress-bar {
    background: #81A538;
}
.progress {
    height:7px;
}
.time-saved-progress {
    margin-top: 30px;
    width: 280px;
    margin-bottom:60px;
}
.slider-image img {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.card-ceo {
    background:rgba(219, 221, 229, 0.38);
    margin-top:80px;
    display: flex;
    align-items: center;
    position: relative;
}

.img-block {
    width:420px;
    height: 420px;
    position: relative;
}
.img-block .ceo-text {
    position: absolute;
    bottom:0;
    left:0;
    background: #fff;
    padding:20px;
}
.img-block .ceo-text span {
    display: block;
    font-size: 18px;
}
.img-block .ceo-text span:first-child {
    font-size: 24px;
    font-weight: 500;
}
.content-block {
    max-width:calc(100% - 450px);
    margin-left:30px;
    margin-bottom:35px;
    padding-left:15px;
    padding-right:45px;
    
}
.content-block h3 {
    margin-bottom:20px;
}
.content-block:before {
    content: '';
    position: absolute;
    width:80px;
    height:80px;
    background: url(../images/quot.PNG) no-repeat center;
    background-size: contain;
    top:0;
    right:0;
}
.case-study-slider.owl-theme .owl-nav {
    top:80px;
}
.custom-btn {
    position: relative;
}
.customNextBtn, .customPrevBtn {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OSIgaGVpZ2h0PSI0OSIgdmlld0JveD0iMCAwIDQ5IDQ5Ij4NCiAgPGcgaWQ9Ikdyb3VwXzI4NDUiIGRhdGEtbmFtZT0iR3JvdXAgMjg0NSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE0NTAgLTIxMjYpIj4NCiAgICA8ZyBpZD0iRWxsaXBzZV85IiBkYXRhLW5hbWU9IkVsbGlwc2UgOSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQ1MCAyMTI2KSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjOTQ5NDk0IiBzdHJva2Utd2lkdGg9IjEiPg0KICAgICAgPGNpcmNsZSBjeD0iMjQuNSIgY3k9IjI0LjUiIHI9IjI0LjUiIHN0cm9rZT0ibm9uZSIvPg0KICAgICAgPGNpcmNsZSBjeD0iMjQuNSIgY3k9IjI0LjUiIHI9IjI0IiBmaWxsPSJub25lIi8+DQogICAgPC9nPg0KICAgIDxwYXRoIGlkPSJieC1yaWdodC1hcnJvdy1hbHRfNV8iIGRhdGEtbmFtZT0iYngtcmlnaHQtYXJyb3ctYWx0ICg1KSIgZD0iTTE0LjEyMSwxNy4yOTNsLTEuNDE0LDEuNDE0TDYsMTJsNi43MDctNi43MDcsMS40MTQsMS40MTRMOS44MjgsMTFoOS41ODZ2Mkg5LjgyOFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE0NjEuNTg2IDIxMzcuNzA3KSIgZmlsbD0iIzk0OTQ5NCIvPg0KICA8L2c+DQo8L3N2Zz4NCg==) no-repeat center;
    background-size: 50px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    position: absolute;
    bottom:200px;
    z-index: 2;
}
.customPrevBtn {
    left:0px;
}
.customNextBtn {
    transform: rotate(180deg);
    right:0px;
}
.faq-section h5 {
    line-height: 50px;
}
/* .our-super-powers-section {
    overflow: visible;
}
.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required 
  } */
  .slides {
    max-width: 500px;
    margin: auto;
  }

  .slide {
    position: relative;
    top:100px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .slide.active {
    top:0px;
    opacity: 1;
  }
  .green h3, .green p {
    color:#5FC87E;
  }
  .blue h3, .blue p {
    color:#54B8E1;
  }
  .orange h3, .orange p {
    color:#F3B84D;
  }
  .red h3, .red p {
    color:#ED6E52;
  }
  .faq-section .container {
    max-width: 1060px;
  }
 .border-doted {
    /* border-bottom: 1px dashed #AFAFAF; */
    display: block;
    margin-bottom:110px;
  }
  .case-study-slider .col-md-10 {
    max-width:1000px;
  }

  .col-patner {
    height:280px;
    max-width: 20%;
    flex: 0 0 20%;
  }
  .patner-outer {
    height:280px;
    width:100%;
    display: table;
  }
  .col-patner.bg-gray {
    background: #F5F5F5;
  }
  .patner-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .patner-inner img {
    max-width: 100%;
  }
  .expertise-card {
    background: #fff;
    padding:40px;
    min-height: 506px;
    position: relative;
    display: flow-root;
  }
  .expertise-card .exp-img {
    text-align: right;
  }
  .tags ul, .tags li {
    padding:0;
    margin:0;
    display: block;
    list-style-type: none;
  }
  .tags li {
    background: rgb(58, 149, 255,0.15);
    padding:11px 18px;
    margin:0 10px 10px 0;
    float: left;
    font: normal normal normal 18px/22px Formular;
    letter-spacing: -0.65px;
    color: #1A1A1A;
  }
  .pb-4:first-child .tags li {
    background: #d7f1df;
  }
  .pt-4:nth-last-child(2) .tags li {
    background: #fdf1db;
  }
  .pt-4:last-child .tags li {
    background: #fce9e5;
  }
  .hover-icon {
    position: absolute;
    bottom:0;
    right:0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .hover-icon img {
    width:80px;
    height: 80px;
  }
  .expertise-card:hover .hover-icon {
    opacity: 1;
  }
  .tag-width-inc {
    width:calc(100% + 15px);
  }
  .tag-width-dec {
    width: calc(100% - 70px);
  }
  .patner-outer {
    width:60%;
    margin: auto;
  }
  .patner-item .thumbnail-title {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1px;
  }
  .patner-item span {
    font-size: 1.125rem;
    letter-spacing: -1px;
  }
  .patner-item {
      border: 1px solid #C7C7C7;
      padding:24px 30px;
      margin-bottom: 25px;
  }
  .patner-item  a {
    color: #7C7C7C;
    font-size: 1.125rem;
    letter-spacing: -1px;
    position: relative;
    float: right;
    margin-top:-20px;
    margin-right: 30px;
  }
  .patner-item  a:hover {
    color: var(--hover-color);
}
  .patner-item  a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #7C7C7C;
}
.patner-details p {
    font: normal normal normal 18px/26px Formular;
    letter-spacing: -1.08px;
    color: #818181;
    opacity: 1;
    margin-top:30px;
}
.patner-details {
    display: none;
}
.image-div {
    position: absolute;
    bottom:0;
    right:0;
    display: none;
}
.message-sucess {
    background: #3ef2a6;
    border-radius: 50px;
    overflow: hidden;
    padding:12px 10px;
    color:#000;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left:auto;
    right:auto;
    top:-30px;
    width: 930px;
    max-width: 100%;
}
.message-sucess img {
    width:50px;
    margin-right: 10px;
}

@media all and (max-width:1025px) {
    .col-patner {
        height:280px;
        max-width: 33.33%;
        flex: 0 0 33.33%;
        margin: auto;
      }
}

@media all and (max-width:990px) {
    body.overflow-hidden {
        overflow: hidden;
    }
    header {
        padding-top:20px;
    }
    nav li, nav ul {
        display: block;
    }
    nav li:last-child {
        padding-left: 22px
    }
    nav li:last-child:before {
        border-top: 1px solid var(--border-color);
        border-left: none;
        width: calc(100% - 30px);
        left:15px;
        top: 0;
    }
    nav {
        position: fixed !important;
        background: var(--dark-color);
        top:100%;
        left:0;
        right:0;
        bottom:0;
        width: 100vw;
        transition: all 0.2s ease-in-out;
    }
    nav.active {
        top:70px;
        max-height: calc(100vh - 70px);
        overflow-y: auto;
    }
    nav ul {
        padding-top:50px;
    }
    nav li {
        padding-top:10px;
        padding-bottom:10px;
    }
    nav li a {
        font-size: 2rem;
        width: 100%;
    display: block;
    }
    .drop-down .sub-menu {
        top:0;
    }
    .risponsive-btn {
        position: absolute;
        right:15px;
        width:35px;
        height: 30px;
        transition: all 0.2s ease-in-out;
    }
    .risponsive-btn span {
        position: absolute;
        width:35px;
        height: 2px;
        border-radius: 5px;
        background: var(--light-color);
        margin-top:10px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }
    .risponsive-btn:before, .risponsive-btn:after {
        content: '';
        position: absolute;
        width:35px;
        height: 2px;
        border-radius: 5px;
        left: 0;
        background: var(--light-color);
        transition: all 0.2s ease-in-out;
    }
    .risponsive-btn.active span {
        opacity: 0;
    }
    .risponsive-btn:before {
        top:0px;
    }
    .risponsive-btn:after {
        top:20px;
    }
    .risponsive-btn.active:before {
        transform: rotate(45deg);
        top:10px;
    }
    .risponsive-btn.active:after {
        transform: rotate(-45deg);
        top:10px;
    }
    .drop-down .sub-menu span {
        left: auto;
        right: 10px;
        top: -30px;
    }
    
    nav li li a {
        font-size: 1rem;
    }
    .drop-down .sub-menu {
        width:100%;
        position: relative;
        min-height: 0;
    }
    .drop-down:hover .arrow-down {
        top:-50px;
    }
    nav li:last-child {
        background-position: right 15px center !important;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    nav li li:last-child {
        margin-top: 0;
    padding-top: 10px;
    padding-bottom:10px;
    }

}
@media all and (max-width:767px) {
    h2 {
        font-size: 2.7rem;
        font-weight: 500;
        letter-spacing: -1px;
        line-height: 1.2;
        margin-bottom: 0;
        word-break: break-word;
    }
    h3 {
        font-size: 1.625rem;
    letter-spacing: -1px;
    font-weight: 500;
    line-height: 1.2;
    }
    h4 {
        font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 500;
    line-height: 1.2;
    }
    h5 {
        font-size: 1rem;
        letter-spacing: -1px;
        font-weight: 500;
        line-height: 1.2;
    }
    small {
        font-size: 2rem;
        line-height: 1.2;
    }
    p {
        font-size: 1rem;
        letter-spacing: -1px;
        line-height: 1.2;
        font-weight: 300;
    }
    .btn-primary {
        padding: 20px 40px;
        font-size: 1rem;
    }
    .btn-secondry, .btn-secondry:hover, .btn-secondry:focus {
        font-size: 1rem;
    font-weight: 500;
    }
    section {
        padding: 60px 0;
    }
    .pattern-dark-bottom:before {
        width: 60px;
        height: 60px;
        bottom: 59px;
    }
    .pattern-dark-bottom:after {
        width: 120px;
        height: 60px;
    }
    .pattern-dark-bottom span {
        width:80px;
        height: 80px;
        bottom: 119px;
        right: 60px;
    }
    .banner-image-content {
        width:100%;
        padding:15px;
        display: inline-block;
    }
    .owl-theme .owl-nav, .case-study-slider.owl-theme .owl-nav {
        right: 0;
        top: 10px;
    }
    .card .card-title {
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: -1px;
        line-height: 1.2;
        display: block;
        margin-bottom: 60px;
    }
    .card img {
        width: 120px;
        margin-bottom: 40px;
    }
    .card-section .mb-2 {
        margin-bottom: 0 !important;
        margin-top: 1.5rem!important;
    }
    .card-section {
        margin-top: 40px;
    }
    .techonology-section {
        margin-top:60px;
    }
    .techonology-section p {
        font-size: 1rem;
        line-height: 1.2;
    }
    .techonology-section .pl-5 {
        padding-left:15px !important;
        margin-top:30px;
    }
    .exp-column:nth-child(2) {
        margin-top: 60px;
    }
    .exp-column .text-right {
        text-align: center !important;
        margin-top: 30px;
    }
    .exp-column .col-md-4:first-child {
        padding-left:15px;
    }
    .pattern-light-top:before {
        width: 120px;
        height: 60px;
    }
    .pattern-light-top {
        margin-top: 30px;
    }
    .wrapper-footer:before {
        width: 120px;
        height: 50px;
    }
    .footer-links .col-md-4 {
        position: static;
    }
    .footer-links .copy-right {
        bottom: -60px;
    }
    .pattern-light-left-bottom:before {
        width: 70px;
        height: 50px;
        bottom: 50px;
    }
    .pattern-light-left-bottom:after {
        height: 50px;
        width: 120px;
        bottom: 0px;
    }
    .pattern-light-left-bottom span {
        width: 80px;
        height: 80px;
        bottom: 100px;
        left: 70px;
    }
    .col-md-7.pattern-dark-bottom {
        margin-top: 30px;
    }
    .banner-section {
        padding: 120px 0 60px;
    }
    .banner-image {
        padding-bottom: 40px;
    }    
    .leadership .col {
        max-width: 50%;
    width: 50%;
    flex: 0 0 50%;
    margin-bottom: 50px;
    }
    .leadership .col .thumbnail-title {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .leadership h4 {
        margin-bottom: 60px;
    }
    .pattern-dark-top-left:before {
        width: 50px;
        height: 50px;
        top:50px;
    }
    .pattern-dark-top-left:after, .pattern-dark-top-left .dark-box {
        height: 50px;
        width: 120px;
    }
    .pattern-dark-top-left .dark-box {
        width:70px;
    }
    .pattern-dark-top-left .box-green {
        width: 80px;
    height: 80px;
    left: 50px;
    top: 100px;
    }
    .pattern-dark-top-left img {
        min-height: 280px;
        object-fit: cover;
    }
    .col-md-8 h3 ~ .row.mt-5.pt-5 {
        padding-top:0 !important;
    }
    .block-content span {
        font-size: 1rem;
        margin-bottom: 40px;
    }
    .col-md-8 h3 ~ .row.mt-5.pt-5 .col-md-6.mt-5 {
        margin-top:0 !important;
        margin-bottom:3rem;
    }
    .wrapper-footer {
        padding: 100px 0;
    }
    header ~ section .col-md-4 .block-content {
        border-bottom: 1px solid var(--border-light-color) !important;
    padding-bottom: 40px;
    }
    header ~ section .col-md-4:last-child .block-content {
        border:none !important;
    }
    .contact-image-block::before {
        width: 50px;
    height: 50px;
    bottom: 50px;
    }
    .contact-image-block::after {
        width: 120px;
        height: 50px;
    }
    .contact-image-block span {
        bottom: 100px;
        right: 50px;
        width: 50px;
        height: 50px;
    }
    .visit .pl-5 {
        padding-left: 15px !important;
        padding-top:30px;
    }
    .contact-image-block-2::before {
        bottom: 0;
    }
    .contact-image-block-2 span {
        left: 50px;
    right: auto ;
    bottom: 50px;
    }
    .contact-image-block-3 span {
        bottom: 0;
        right: 0;
    }
    .pattern-enterprise span {
        width: 50px;
    height: 50px;
    }
    .solution-logo .col {
        margin-bottom:30px;
    }
    .image-block:before {
        width: 120px;
    height: 70px;
    }
    .image-block {
        margin-top:30px;
    }
    .section-order .col-md-6:first-child {
        order:2;
    }
    .enterprise-section .col-md-6 {
        margin-bottom:30px;
    }
    .solution-logo .col-md-2 {
        margin-bottom:30px;
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .solution-logo img {
        max-width: 110px;
    }
    .pattern-light-right-bottom:before {
        width: 70px;
    height: 50px;
    bottom:50px;
    }
    .pattern-light-right-bottom:after {
        height: 50px;
        width: 120px;
    }
    .pattern-light-right-bottom img {
        height: auto;
    }
    .pattern-light-right-bottom span {
        width: 80px;
        height: 80px;
        bottom: 100px;
        right: 70px;
    }
    .solution-logo .col-md-3 {
        margin-bottom: 30px;
        padding-bottom:30px;
        border-bottom: 1px solid var(--border-light-color);
    } 
    .solution-logo .col-md-3:last-child {
        border:none;
        margin-bottom: 0px;
        padding-bottom:0px;
    }
    .solution-logo .patner-image-wrapper {
        margin-bottom: 10px;
    }
    .solution-list li {
        font-size: 1rem;
        line-height: 1.2;
    }
    .solution-detail {
        padding-bottom: 60px;
        margin-bottom: 60px;
    }
    .pattern-light-left-bottom img {
        height: auto;
    }
    .card-section .col-md-6:first-child, .card-section .col-md-6:nth-child(2), .card-section .col-md-6:nth-child(3), .card-section .col-md-6:nth-child(4) {
        padding-right: 15px;
        padding-left: 15px;
        padding-top:0;
    }
    .card-section .col-md-6:nth-child(4) {
        padding-top:30px;
    }
    .about-banner .col-md-5 {
        padding-right: 15px;
    }
    .about-banner .col-md-7 {
        padding-left: 15px;
    }
    .pb-200 {
        padding-bottom:60px;
    }
    .pt-200 {
        padding-top:60px;
    }
    .pt-100 {
        padding-bottom:40px;
    }
    .leadership .col {
        padding-left: 15px;
    padding-right: 15px;
    }
    .leadership {
        margin-left: -15px;
        margin-right: -15px;
    }
    .wrapper-footer {
        margin-bottom: 0;
    }
    .footer-links {
        margin-top: -60px;
    }
    .footer-links .title-links {
        margin-top: 40px;
    }
    .section-order {
        padding-top:60px;
    }
    .section-border-top {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .enterprise-section.first h2 {
        padding-top: 0px;
    }
    .visit {
        padding-bottom:0;
    }
    .pb-80 {
        padding-bottom: 0;
    }
    .block-content h3 {
        font-size: 1.8rem;
    }
    .dark.visit img {
        max-width: 100%;
    }
    .wrapper-footer::after {
        display: none;
    }
    .pr-5.pl-25 {
        padding-right: 25px !important;
    }
    .col-md-6.pl-5 {
        padding-left: 25px !important;
    }
    .col-md-6.mt-5 {
        margin-top:0 !important;
    }
    .patner-outer {
        width:100%;
    }
    .patner-item a {
        margin-right:0;
    }
    .patner-item span {
        max-width: calc(100% - 80px);
        display: inline-block;
    }
}
@media all and (max-width:768px) {
    .container {
        max-width:100%;
    }
    .col-patner {
        height:280px;
        max-width: 100%;
        flex: 0 0 100%;
      }
      .pl-70 {
        padding-left:0;
        padding-right:120px;
      }
      
}
