.case-study-jobfastic ul,
.case-study-jobfastic li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.case-study-jobfastic p {
    color: #6a7282;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5 !important;
}

.cs-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 10px;
    z-index: 99999;
    border-bottom: 1px solid rgb(229, 237, 255);
}

.cs-header .container-fluid {
    padding: 0 10%;
}

.cs-header span {
    font-size: 12px;
    letter-spacing: 3px;    
}

.close-case-study {
    background: #2D82FF;
    color: #fff;
    font-weight: 500;
    letter-spacing: 3px;
    display: block;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.close-case-study svg {
    margin-left: 7px;
}

.close-case-study:hover {
    color: #fff;
    background: #2C76E1;
    text-decoration: none;
}

.case-study-jobfastic .section {
    padding: 6rem 0;
}

.case-study-jobfastic .hero {
    background: linear-gradient(135deg, rgb(235, 243, 255) 0%, rgb(246, 248, 255) 50%, rgb(255, 255, 255) 100%);
    margin-top: 79px;
    padding: 5rem 0;
}

.case-study-jobfastic .hero .hero-img {
    max-width: none !important;
    width: auto !important;
}

.capsule-blue {
    list-style: none;
}

.capsule-blue li {
    background: rgb(235, 243, 255);
    color: rgb(45, 130, 255);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.gray-blue li {
    color: #4a5565;
    background: #f6f3f4;
}

.capsule-orange li {
    background: #fff8e3;
    color: #fbbc09;
}

.case-study-jobfastic h1 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3.75rem;
    line-height: 1;
    color: #212529;
}

.case-study-jobfastic h1 span {
    color: #2D82FF;
}

.case-study-jobfastic .hero p {
    margin-bottom: 40px;
    font-size: 20px;
}

.section-number {
    margin-bottom: 60px;
}

.section-number .no {
    font-size: 11px;
    color: #2D82FF;
    font-weight: bold;
}

.section-number .sep {
    width: 50px;
    height: 1px;
    background: #6a7282;
    margin: 0 15px;
    display: block;
}

.section-number .name {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
}

.case-study-jobfastic h2 {
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: none;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 25px;
    color: #212529;
}

.case-study-outline {
    border: 1px solid rgb(229, 237, 255);
    border-radius: 10px;
}

.case-study-outline li {
    padding: 25px 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(229, 237, 255);
}

.case-study-outline li:last-child {
    border: 0;
}

.case-study-outline li>span:first-child {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #99a1af;
    width: 37%;
    margin-top: 4px;
}

.case-study-outline li>span:last-child {
    font-weight: bold;
    font-size: 16px;
    width: 63%;
}

.problem,
.screens {
    background: #f6f8ff;
}

.problem ul {
    margin-top: 40px;
}

.problem li {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.problem li .icon {
    width: 45px;
}

.problem li .text {
    font-size: 18px;
    width: calc(100% - 45px);
    color: #6a7282;
}

.problem li .text strong {
    display: block;
    color: #212529;
}

.cs-box {
    border-radius: 1rem;
    border: 1px solid rgb(229, 237, 255);
    padding: 30px;
    margin-top: 30px;
}

.cs-box .box-h-left {
    font-size: 14px;
    color: #6a7282;
}

.cs-box strong {
    font-size: 18px;
    font-weight: bold;
    color: #212529;
    display: block;
}

.cs-box p {
    border-left: 3px solid #2D82FF;
    padding-left: 18px;
    font-size: 18px;
    margin-top: 28px;
}

.cs-box .box-list li {
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    margin-top: 5px;
}

.cs-box .box-list li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: #45b374;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.cs-box .box-list.orange li::before {
    background: #fbbc09;
}

.dark-bg {
    background: #151e2c;
}

.dark-bg .section-number .name,
.dark-bg p {
    color: #99a1af;
}

.dark-bg h2 {
    color: #fff;
    margin-bottom: 10px;
}

.design-process-list-wrapper .design-process-list:nth-child(odd) {
    padding-right: 40px;
}

.design-process-list-wrapper .design-process-list:nth-child(even) {
    padding-left: 40px;
}

.design-process-list {
    margin-top: 50px;
}

.design-process-list .number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2D82FF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.design-process-list .text {
    width: calc(100% - 60px);
}

.design-process-list .text h3 {
    font-size: 20px;
    font-weight: bold;
    color: #bcc2cd;
    margin: 0 0 5px;
}

.design-process-list .text p,
.design-process-bottom-sections p {
    font-size: 16px;
    color: #6a7282;
    margin: 0;
}

.design-process-bottom-sections {
    border-radius: 0.75rem;
    padding: 24px;
    background: #1e2d42;
    border: 1px solid rgba(45, 130, 255, 0.19);
    margin-top: 30px;
}

.design-process-bottom-sections .top-line {
    width: 32px;
    height: 4px;
    border-radius: 10px;
    display: block;
    background: #2D82FF;
}

.design-process-bottom-sections h3 {
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin: 15px 0;
}

.color-box {
    width: 100%;
    height: 100px;
    border-radius: 1rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.color-box-name {
    font-size: 15px;
    font-weight: bold;
    color: #151e2c;
    display: block;
    margin: 0 0 5px;
    line-height: normal;
    text-align: center;
}

.color-box-code {
    color: #6a7282;
    font-size: 12px;
    display: block;
    text-align: center;
}

.font-style span {
    margin: 0 30px 0 0;
    font-size: 15px;
    color: #6a7282;
}

.web-figma {
    background: #1E1E1E;
}

.key-learnings li {
    position: relative;
    padding: 0 0 0 50px;
    color: #fff;
    font-size: 20px;
    margin-top: 35px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 35px;
}

.key-learnings li:first-child {
    margin-top: 0;
}

.key-learnings li span {
    position: absolute;
    top: 35px;
    left: 0;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.nps {
    background: #2D82FF;
    border-radius: 1rem;
    padding: 50px 70px;
    text-align: center;
    display: inline-block;
    font-size: 6rem;
    color: #fff;
    font-weight: bold;
    line-height: 1;
}

.nps span {
    font-size: 20px;
    display: block;
    margin-top: 5px;
}

.owl-carousel.owl-drag .owl-item.active {
    position: relative;
}
.owl-carousel.owl-drag .owl-item.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #bcc1cf;
    filter: blur(200px);
    z-index: -2;
}

@media screen and (max-width: 992px) {
    .nps {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .cs-header .container-fluid {
        padding: 0;
    }

    .close-case-study span {
        display: none;
    }

    .close-case-study {
        padding: 10px;
    }

    .close-case-study svg {
        margin: 0
    }
    .case-study-jobfastic .hero .hero-img {
        max-width: 100% !important;
        width: 100% !important;
    }
}
